In [74]:
import numpy as np
import pandas as pd
import requests
import json

In [75]:
url = "../../../datasets/Iowa_Liquor_Sales.csv"
alc_df = pd.read_csv(url, nrows=10000)
print("test")
print(alc_df.head(1))

test
  Invoice/Item Number        Date  Store Number  \
0     INV-09962700007  01/23/2018          4310

                       Store Name            Address      City  Zip Code  \
0  Fareway Stores #502 / Cherokee  205 West Bluff St  Cherokee   51012.0

                Store Location  County Number    County  ...  Item Number  \
0  POINT (-95.551866 42.75508)           18.0  CHEROKEE  ...        14192

            Item Description  Pack Bottle Volume (ml)  State Bottle Cost  \
0  Pendleton Canadian Whisky    12                750               13.1

  State Bottle Retail  Bottles Sold  Sale (Dollars)  Volume Sold (Liters)  \
0               19.65             3           58.95                  2.25

   Volume Sold (Gallons)
0                   0.59

[1 rows x 24 columns]

In [86]:
def return_name(string):
  return " ".join(string.split(" ")[:-1])

pop_df= pd.read_csv("https://data.iowa.gov/resource/qtnr-zsrc.csv")
pop_df["County"] = pop_df["geographicname"].apply(return_name).str.upper()
print(pop_df.head(1))

    fips geographicname                     year  population  \
0  19169   Story County  2011-07-01T00:00:00.000       91136

                    primary_point County
0  POINT (-93.4650448 42.0362415)  STORY

In [87]:
def return_year(string, delimiter, index):
  return string.split(delimiter)[index]

pop_df["Year"] = pop_df["year"].apply(return_year, args=("-", 0))

In [78]:
alc_df["Year"] = alc_df["Date"].apply(return_year, args=("/", 2))
alc_df["County"] = alc_df["County"].str.upper()

In [79]:

alc_df["County"].unique()

array(['CHEROKEE', 'BLACK HAWK', 'MARSHALL', 'CLAYTON', 'STORY',
       'JOHNSON', 'LINN', 'POLK', 'PLYMOUTH', 'LUCAS', 'DUBUQUE',
       'CLINTON', 'SCOTT', 'PALO ALTO', 'DALLAS', 'WEBSTER', 'BOONE',
       'TAMA', 'BREMER', 'CERRO GORD', 'POTTAWATTA', 'MAHASKA',
       'WINNESHIEK', 'KOSSUTH', 'MUSCATINE', 'LYON', 'WOODBURY', 'MONONA',
       'DICKINSON', 'HARRISON', 'MILLS', 'CRAWFORD', 'OBRIEN',
       'DES MOINES', 'WASHINGTON', 'APPANOOSE', 'BUTLER', 'WARREN',
       'CLAY', nan, 'GRUNDY', 'CARROLL', 'SIOUX', 'BENTON', 'OSCEOLA',
       'ALLAMAKEE', 'FRANKLIN', 'EMMET', 'WAPELLO', 'MARION',
       'POCAHONTAS', 'HUMBOLDT', 'IOWA', 'MADISON', 'LEE', 'DAVIS',
       'BUCHANAN', 'BUENA VIST', 'WRIGHT', 'JACKSON', 'IDA', 'JONES',
       'FLOYD', 'POWESHIEK', 'CLARKE', 'WAYNE', 'UNION', 'SAC', 'CALHOUN',
       'CASS', 'WORTH', 'JASPER', 'PAGE', 'HANCOCK', 'GUTHRIE',
       'MONTGOMERY', 'DELAWARE', 'LOUISA', 'HARDIN', 'JEFFERSON',
       'FAYETTE', 'MITCHELL', 'TAYLOR', 'CHICKASAW', 'DECATUR', 'MONROE',
       'HENRY', 'CEDAR', 'HAMILTON', 'SHELBY', 'RINGGOLD', 'VAN BUREN',
       'FREMONT', 'HOWARD', 'WINNEBAGO', 'GREENE', 'KEOKUK', 'ADAIR',
       'ADAMS', 'AUDUBON'], dtype=object)

In [88]:
pop_df["County"].unique()

array(['STORY', 'FAYETTE', 'HOWARD', 'APPANOOSE', 'CLAYTON', 'JOHNSON',
       'MONONA', 'SIOUX', 'JEFFERSON', 'LINN', 'RINGGOLD', 'POCAHONTAS',
       'POLK', 'HANCOCK', 'WEBSTER', 'TAMA', 'CEDAR', "O'BRIEN", 'EMMET',
       'GUTHRIE', 'PALO ALTO', 'CHICKASAW', 'OSCEOLA', 'MONTGOMERY',
       'BLACK HAWK', 'WASHINGTON', 'LYON', 'LUCAS', 'DICKINSON', 'MILLS',
       'BENTON', 'DUBUQUE', 'JONES', 'PAGE', 'SCOTT', 'WAYNE',
       'VAN BUREN', 'CRAWFORD', 'POTTAWATTAMIE', 'LEE', 'CHEROKEE',
       'TAYLOR', 'GREENE', 'MAHASKA', 'HARRISON', 'HUMBOLDT',
       'CERRO GORDO', 'CALHOUN', 'UNION', 'WINNEBAGO', 'MITCHELL',
       'DAVIS', 'DALLAS', 'KOSSUTH', 'JACKSON', 'ALLAMAKEE', 'BUTLER',
       'MUSCATINE', 'IOWA', 'ADAIR', 'DELAWARE', 'FLOYD', 'WARREN',
       'WORTH', 'AUDUBON', 'MADISON', 'CLAY', 'BREMER', 'DECATUR',
       'LOUISA', 'GRUNDY', 'WOODBURY', 'FRANKLIN', 'BUENA VISTA',
       'CARROLL', 'KEOKUK', 'CLARKE', 'SHELBY', 'SAC', 'JASPER',
       'POWESHIEK', 'HENRY', 'CLINTON', 'FREMONT', 'MARSHALL', 'WRIGHT',
       'WAPELLO', 'PLYMOUTH', 'BOONE', 'MONROE', 'HAMILTON', 'MARION',
       'ADAMS', 'WINNESHIEK', 'IDA', 'HARDIN', 'BUCHANAN', 'CASS',
       'DES MOINES'], dtype=object)

In [89]:
df = pd.read_html("https://www.iowa-demographics.com/counties_by_population")[0]
df["Year"] = "2021"
df["County"] = df["County"].apply(return_name).str.upper()
df["Population"] = df["Population"]
df = df[["County", "Population", "Year"]]
df

,County,Population,Year
0,POLK,496844,2021
1,LINN,228939,2021
2,SCOTT,174170,2021
3,JOHNSON,154748,2021
4,BLACK HAWK,130368,2021
...,...,...,...
95,TAYLOR,5868,2021
96,AUDUBON,5635,2021
97,RINGGOLD,4639,2021
98,ADAMS,3641,2021
99,UNITED STATES CENSUS BUREAU. B01001 SEX BY AGE...,United States Census Bureau. B01001 SEX BY AGE...,2021

In [91]:
pop_df["Population"] = pop_df["population"]
pop_df = pop_df[["County", "Population", "Year"]]
pop_df = pd.concat([pop_df, df])

In [92]:
pop_df

,County,Population,Year
0,STORY,91136,2011
1,FAYETTE,22129,1995
2,HOWARD,9794,2002
3,APPANOOSE,13761,1999
4,CLAYTON,17946,2012
...,...,...,...
95,TAYLOR,5868,2021
96,AUDUBON,5635,2021
97,RINGGOLD,4639,2021
98,ADAMS,3641,2021
99,UNITED STATES CENSUS BUREAU. B01001 SEX BY AGE...,United States Census Bureau. B01001 SEX BY AGE...,2021

In [93]:
alc_df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
0,INV-09962700007,01/23/2018,4310,Fareway Stores #502 / Cherokee,205 West Bluff St,Cherokee,51012.0,POINT (-95.551866 42.75508),18.0,CHEROKEE,...,Pendleton Canadian Whisky,12,750,13.10,19.65,3,58.95,2.25,0.59,2018
1,INV-09965700080,01/23/2018,2572,Hy-Vee Food Store / Cedar Falls,6301 University,Cedar Falls,50613.0,POINT (-92.435236 42.512789),7.0,BLACK HAWK,...,Barton Vodka,6,1750,6.92,10.38,12,124.56,21.00,5.55,2018
2,INV-10018300132,01/25/2018,2544,Hy-Vee Food Store / Marshalltown,802 South Center,Marshalltown,50158.0,POINT (-92.912817 42.039205),64.0,MARSHALL,...,Paramount Gold Rum,12,1000,4.42,6.63,12,79.56,12.00,3.17,2018
3,INV-10004400033,01/25/2018,2130,Sycamore Convenience,617 Sycamore,Waterloo,50703.0,POINT (-92.335358 42.497854),7.0,BLACK HAWK,...,Malibu Coconut Rum,12,1000,10.49,15.74,36,566.64,36.00,9.51,2018
4,INV-09923000033,01/22/2018,5373,Sodes Green Acre,7 Goethe Street Ste. B,Guttenberg,52052.0,POINT (-91.095813 42.782907),22.0,CLAYTON,...,Piehole Pecan Pie,12,750,7.49,11.24,2,22.48,1.50,0.40,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,INV-10081500013,01/30/2018,2588,Hy-Vee Food and Drug #6 / Cedar Rapids,4035 Mt Vernon Rd SE,Cedar Rapids,52403.0,POINT (-91.60978 41.976835),57.0,LINN,...,Kessler Blend Whiskey,6,1750,11.00,16.50,6,99.00,10.50,2.77,2018
9996,INV-10053000136,01/29/2018,3612,B and C Liquor / Maquoketa,509 E Platt,Maquoketa,52060.0,POINT (-90.659692 42.06922000000001),49.0,JACKSON,...,Dekuyper Buttershots,12,1000,7.87,11.81,4,47.24,4.00,1.06,2018
9997,INV-10092800069,01/30/2018,2587,Hy-Vee Food Store / Johnston,5750 Merle Hay Road,Johnston,50131.0,POINT (-93.697731 41.665172),77.0,POLK,...,Jack Daniels Old #7 Black Lbl Mini,12,500,9.06,13.59,2,27.18,1.00,0.26,2018
9998,INV-10075900047,01/29/2018,4829,Central City 2,1501 Michigan Ave,Des Moines,50314.0,POINT (-93.613739 41.60572),77.0,POLK,...,Skyy Infusions Citrus,12,750,9.01,13.52,12,162.24,9.00,2.38,2018
9999,INV-10052300004,01/29/2018,5236,"Giggle Juice Liquor Station, LLC",600 W Main St,Anamosa,52205.0,POINT (-91.29083400000002 42.108203),53.0,JONES,...,Captain Morgan Spiced Rum,12,1000,11.75,17.63,12,211.56,12.00,3.17,2018

In [109]:
combined = alc_df.merge(pop_df, how = "left")
#combined[combined["year"].equals(combined["Year"])]

In [110]:
combined.shape

(10000, 26)

In [111]:
combined.drop(columns = ["Address", "City", "Zip Code", "Store Location", "County Number", "Invoice/Item Number", "Store Number", "Category", "Item Description", "Item Number", "Vendor Number", "Pack", "Volume Sold (Gallons)"], inplace = True)

In [112]:
combined

,Date,Store Name,County,Category Name,Vendor Name,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Year,Population
0,01/23/2018,Fareway Stores #502 / Cherokee,CHEROKEE,Canadian Whiskies,PROXIMO,750,13.10,19.65,3,58.95,2.25,2018,NaN
1,01/23/2018,Hy-Vee Food Store / Cedar Falls,BLACK HAWK,American Vodkas,SAZERAC NORTH AMERICA,1750,6.92,10.38,12,124.56,21.00,2018,131723
2,01/25/2018,Hy-Vee Food Store / Marshalltown,MARSHALL,Gold Rum,LUXCO INC,1000,4.42,6.63,12,79.56,12.00,2018,NaN
3,01/25/2018,Sycamore Convenience,BLACK HAWK,Flavored Rum,PERNOD RICARD USA,1000,10.49,15.74,36,566.64,36.00,2018,131723
4,01/22/2018,Sodes Green Acre,CLAYTON,Whiskey Liqueur,DIAGEO AMERICAS,750,7.49,11.24,2,22.48,1.50,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,01/30/2018,Hy-Vee Food and Drug #6 / Cedar Rapids,LINN,Blended Whiskies,Jim Beam Brands,1750,11.00,16.50,6,99.00,10.50,2018,NaN
9996,01/29/2018,B and C Liquor / Maquoketa,JACKSON,American Schnapps,Jim Beam Brands,1000,7.87,11.81,4,47.24,4.00,2018,19427
9997,01/30/2018,Hy-Vee Food Store / Johnston,POLK,Tennessee Whiskies,Brown Forman Corp.,500,9.06,13.59,2,27.18,1.00,2018,NaN
9998,01/29/2018,Central City 2,POLK,American Flavored Vodka,Skyy Spirits Inc,750,9.01,13.52,12,162.24,9.00,2018,NaN
9999,01/29/2018,"Giggle Juice Liquor Station, LLC",JONES,Spiced Rum,DIAGEO AMERICAS,1000,11.75,17.63,12,211.56,12.00,2018,NaN