In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
url = "../../../datasets/Iowa_Liquor_Sales.csv"
alc_df = pd.read_csv(url, nrows=10000)
print("test")
print(alc_df.head(1))

test
  Invoice/Item Number        Date  Store Number  \
0     INV-09962700007  01/23/2018          4310

                       Store Name            Address      City  Zip Code  \
0  Fareway Stores #502 / Cherokee  205 West Bluff St  Cherokee   51012.0

                Store Location  County Number    County  ...  Item Number  \
0  POINT (-95.551866 42.75508)           18.0  CHEROKEE  ...        14192

            Item Description  Pack Bottle Volume (ml)  State Bottle Cost  \
0  Pendleton Canadian Whisky    12                750               13.1

  State Bottle Retail  Bottles Sold  Sale (Dollars)  Volume Sold (Liters)  \
0               19.65             3           58.95                  2.25

   Volume Sold (Gallons)
0                   0.59

[1 rows x 24 columns]

In [11]:
print(alc_df["Date"].unique())

['01/23/2018' '01/25/2018' '01/22/2018' '01/24/2018' '01/19/2018'
 '01/26/2018' '01/31/2018' '01/30/2018' '01/29/2018' '02/01/2018'
 '02/06/2018' '02/02/2018' '02/07/2018' '02/09/2018' '02/05/2018'
 '02/13/2018']

In [81]:
def return_name(string):
  return " ".join(string.split(" ")[:-1])

pop_df= pd.read_csv("https://data.iowa.gov/resource/qtnr-zsrc.csv")
pop_df["County"] = pop_df["geographicname"].apply(return_name).str.upper()
print(pop_df.head(1))

    fips geographicname                     year  population  \
0  19169   Story County  2011-07-01T00:00:00.000       91136

                    primary_point County
0  POINT (-93.4650448 42.0362415)  STORY

In [82]:
def return_year(string):
  return string.split("-")[0]

def return_year_slash(string):
  return string.split("/")[2]

pop_df["Year"] = pop_df["year"].apply(return_year)
pop_df.columns

Index(['fips', 'geographicname', 'year', 'population', 'primary_point',
       'County', 'Year'],
      dtype='object')

In [83]:
alc_df["Year"] = alc_df["Date"].apply(return_year_slash)
alc_df["County"] = alc_df["County"].str.upper()

In [84]:

alc_df["County"].unique()

array(['CHEROKEE', 'BLACK HAWK', 'MARSHALL', 'CLAYTON', 'STORY',
       'JOHNSON', 'LINN', 'POLK', 'PLYMOUTH', 'LUCAS', 'DUBUQUE',
       'CLINTON', 'SCOTT', 'PALO ALTO', 'DALLAS', 'WEBSTER', 'BOONE',
       'TAMA', 'BREMER', 'CERRO GORD', 'POTTAWATTA', 'MAHASKA',
       'WINNESHIEK', 'KOSSUTH', 'MUSCATINE', 'LYON', 'WOODBURY', 'MONONA',
       'DICKINSON', 'HARRISON', 'MILLS', 'CRAWFORD', 'OBRIEN',
       'DES MOINES', 'WASHINGTON', 'APPANOOSE', 'BUTLER', 'WARREN',
       'CLAY', nan, 'GRUNDY', 'CARROLL', 'SIOUX', 'BENTON', 'OSCEOLA',
       'ALLAMAKEE', 'FRANKLIN', 'EMMET', 'WAPELLO', 'MARION',
       'POCAHONTAS', 'HUMBOLDT', 'IOWA', 'MADISON', 'LEE', 'DAVIS',
       'BUCHANAN', 'BUENA VIST', 'WRIGHT', 'JACKSON', 'IDA', 'JONES',
       'FLOYD', 'POWESHIEK', 'CLARKE', 'WAYNE', 'UNION', 'SAC', 'CALHOUN',
       'CASS', 'WORTH', 'JASPER', 'PAGE', 'HANCOCK', 'GUTHRIE',
       'MONTGOMERY', 'DELAWARE', 'LOUISA', 'HARDIN', 'JEFFERSON',
       'FAYETTE', 'MITCHELL', 'TAYLOR', 'CHICKASAW', 'DECATUR', 'MONROE',
       'HENRY', 'CEDAR', 'HAMILTON', 'SHELBY', 'RINGGOLD', 'VAN BUREN',
       'FREMONT', 'HOWARD', 'WINNEBAGO', 'GREENE', 'KEOKUK', 'ADAIR',
       'ADAMS', 'AUDUBON'], dtype=object)

In [85]:
pop_df["County"].unique()

array(['STORY', 'FAYETTE', 'HOWARD', 'APPANOOSE', 'CLAYTON', 'JOHNSON',
       'MONONA', 'SIOUX', 'JEFFERSON', 'LINN', 'RINGGOLD', 'POCAHONTAS',
       'POLK', 'HANCOCK', 'WEBSTER', 'TAMA', 'CEDAR', "O'BRIEN", 'EMMET',
       'GUTHRIE', 'PALO ALTO', 'CHICKASAW', 'OSCEOLA', 'MONTGOMERY',
       'BLACK HAWK', 'WASHINGTON', 'LYON', 'LUCAS', 'DICKINSON', 'MILLS',
       'BENTON', 'DUBUQUE', 'JONES', 'PAGE', 'SCOTT', 'WAYNE',
       'VAN BUREN', 'CRAWFORD', 'POTTAWATTAMIE', 'LEE', 'CHEROKEE',
       'TAYLOR', 'GREENE', 'MAHASKA', 'HARRISON', 'HUMBOLDT',
       'CERRO GORDO', 'CALHOUN', 'UNION', 'WINNEBAGO', 'MITCHELL',
       'DAVIS', 'DALLAS', 'KOSSUTH', 'JACKSON', 'ALLAMAKEE', 'BUTLER',
       'MUSCATINE', 'IOWA', 'ADAIR', 'DELAWARE', 'FLOYD', 'WARREN',
       'WORTH', 'AUDUBON', 'MADISON', 'CLAY', 'BREMER', 'DECATUR',
       'LOUISA', 'GRUNDY', 'WOODBURY', 'FRANKLIN', 'BUENA VISTA',
       'CARROLL', 'KEOKUK', 'CLARKE', 'SHELBY', 'SAC', 'JASPER',
       'POWESHIEK', 'HENRY', 'CLINTON', 'FREMONT', 'MARSHALL', 'WRIGHT',
       'WAPELLO', 'PLYMOUTH', 'BOONE', 'MONROE', 'HAMILTON', 'MARION',
       'ADAMS', 'WINNESHIEK', 'IDA', 'HARDIN', 'BUCHANAN', 'CASS',
       'DES MOINES'], dtype=object)

In [86]:
df = pd.read_html("https://www.iowa-demographics.com/counties_by_population")[0]
df["year"] = "2021"
df["county"] = df["County"].apply(return_name).str.upper()
df["population"] = df["Population"]
df = df[["county", "population", "year"]]
df

,county,population,year
0,POLK,496844,2021
1,LINN,228939,2021
2,SCOTT,174170,2021
3,JOHNSON,154748,2021
4,BLACK HAWK,130368,2021
...,...,...,...
95,TAYLOR,5868,2021
96,AUDUBON,5635,2021
97,RINGGOLD,4639,2021
98,ADAMS,3641,2021
99,UNITED STATES CENSUS BUREAU. B01001 SEX BY AGE...,United States Census Bureau. B01001 SEX BY AGE...,2021

In [87]:
pop_df = pop_df[["County", "population", "Year"]]
pop_df = pd.concat([pop_df, df])
print(pop_df["Year"].unique())

['2011' '1995' '2002' '1999' '2012' '2020' '1992' '2006' '2018' '2016'
 '1996' '1991' '2014' '2009' '2007' '2008' '2001' '1994' '2017' '2019'
 '1993' '2000' '1998' '2013' '1990' '2004' '2010' '2003' '1997' '2005'
 '2015' nan]

In [88]:
print(alc_df.columns)
print(pop_df.columns)

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)',
       'Year'],
      dtype='object')
Index(['County', 'population', 'Year', 'county', 'year'], dtype='object')

In [89]:
print(alc_df.head(1))
print(pop_df.head(1))

  Invoice/Item Number        Date  Store Number  \
0     INV-09962700007  01/23/2018          4310

                       Store Name            Address      City  Zip Code  \
0  Fareway Stores #502 / Cherokee  205 West Bluff St  Cherokee   51012.0

                Store Location  County Number    County  ...  \
0  POINT (-95.551866 42.75508)           18.0  CHEROKEE  ...

            Item Description Pack  Bottle Volume (ml) State Bottle Cost  \
0  Pendleton Canadian Whisky   12                 750              13.1

   State Bottle Retail Bottles Sold  Sale (Dollars)  Volume Sold (Liters)  \
0                19.65            3           58.95                  2.25

   Volume Sold (Gallons)  Year
0                   0.59  2018

[1 rows x 25 columns]
  County population  Year county year
0  STORY      91136  2011    NaN  NaN

In [93]:
combined = alc_df.merge(pop_df, how = "left", on = ["County", "Year"])
#combined[combined["year"].equals(combined["Year"])]
print(combined)
combined.columns

     Invoice/Item Number        Date  Store Number  \
0        INV-09962700007  01/23/2018          4310
1        INV-09965700080  01/23/2018          2572
2        INV-10018300132  01/25/2018          2544
3        INV-10004400033  01/25/2018          2130
4        INV-09923000033  01/22/2018          5373
...                  ...         ...           ...
9995     INV-10081500013  01/30/2018          2588
9996     INV-10053000136  01/29/2018          3612
9997     INV-10092800069  01/30/2018          2587
9998     INV-10075900047  01/29/2018          4829
9999     INV-10052300004  01/29/2018          5236

                                  Store Name                 Address  \
0             Fareway Stores #502 / Cherokee       205 West Bluff St
1            Hy-Vee Food Store / Cedar Falls         6301 University
2           Hy-Vee Food Store / Marshalltown        802 South Center
3                       Sycamore Convenience            617 Sycamore
4                           Sodes Green Acre  7 Goethe Street Ste. B
...                                      ...                     ...
9995  Hy-Vee Food and Drug #6 / Cedar Rapids    4035 Mt Vernon Rd SE
9996              B and C Liquor / Maquoketa             509 E Platt
9997            Hy-Vee Food Store / Johnston     5750 Merle Hay Road
9998                          Central City 2       1501 Michigan Ave
9999        Giggle Juice Liquor Station, LLC           600 W Main St

              City  Zip Code                        Store Location  \
0         Cherokee   51012.0           POINT (-95.551866 42.75508)
1      Cedar Falls   50613.0          POINT (-92.435236 42.512789)
2     Marshalltown   50158.0          POINT (-92.912817 42.039205)
3         Waterloo   50703.0          POINT (-92.335358 42.497854)
4       Guttenberg   52052.0          POINT (-91.095813 42.782907)
...            ...       ...                                   ...
9995  Cedar Rapids   52403.0           POINT (-91.60978 41.976835)
9996     Maquoketa   52060.0  POINT (-90.659692 42.06922000000001)
9997      Johnston   50131.0          POINT (-93.697731 41.665172)
9998    Des Moines   50314.0           POINT (-93.613739 41.60572)
9999       Anamosa   52205.0  POINT (-91.29083400000002 42.108203)

      County Number      County  ...  State Bottle Cost State Bottle Retail  \
0              18.0    CHEROKEE  ...              13.10               19.65
1               7.0  BLACK HAWK  ...               6.92               10.38
2              64.0    MARSHALL  ...               4.42                6.63
3               7.0  BLACK HAWK  ...              10.49               15.74
4              22.0     CLAYTON  ...               7.49               11.24
...             ...         ...  ...                ...                 ...
9995           57.0        LINN  ...              11.00               16.50
9996           49.0     JACKSON  ...               7.87               11.81
9997           77.0        POLK  ...               9.06               13.59
9998           77.0        POLK  ...               9.01               13.52
9999           53.0       JONES  ...              11.75               17.63

      Bottles Sold Sale (Dollars)  Volume Sold (Liters) Volume Sold (Gallons)  \
0                3          58.95                  2.25                  0.59
1               12         124.56                 21.00                  5.55
2               12          79.56                 12.00                  3.17
3               36         566.64                 36.00                  9.51
4                2          22.48                  1.50                  0.40
...            ...            ...                   ...                   ...
9995             6          99.00                 10.50                  2.77
9996             4          47.24                  4.00                  1.06
9997             2          27.18                  1.00                  0.26
9998            12         162.24                  9.00                  2.38
9999            12         211.56                 12.00                  3.17

      Year  population  county  year
0     2018         NaN     NaN   NaN
1     2018      131723     NaN   NaN
2     2018         NaN     NaN   NaN
3     2018      131723     NaN   NaN
4     2018         NaN     NaN   NaN
...    ...         ...     ...   ...
9995  2018         NaN     NaN   NaN
9996  2018       19427     NaN   NaN
9997  2018         NaN     NaN   NaN
9998  2018         NaN     NaN   NaN
9999  2018         NaN     NaN   NaN

[10000 rows x 28 columns]

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)',
       'Year', 'population', 'county', 'year'],
      dtype='object')

In [97]:
from pathlib import Path  
filepath = Path('out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
combined.to_csv(filepath)

filepath = Path('alc_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
combined.to_csv(filepath)
alc_df.to_csv(filepath)

filepath = Path('pop_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
combined.to_csv(filepath)
pop_df.to_csv(filepath)

In [ ]:
filepath = Path('alc_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
combined.to_csv(filepath)
alc_df.to_csv(filepath)