In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [9]:
def get_month(string):
    return string.split("/")[0]

alc_df = pd.read_csv('alc_dataset.csv', nrows=3000000)
#alc_df = pd.read_csv('alc_dataset.csv')
alc_df["Month"] = alc_df["Date"].apply(get_month)
alc_df.drop(columns = ["Date", "Unnamed: 0"], inplace = True)
#alc_df = pd.get_dummies(alc_df)
alc_df
#alc_df.groupby(["Year", "Month", "County"]).sum()

,Store Name,County,Category Name,Vendor Name,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Year,Population,Month
0,Hy-Vee Food Store,BLACK HAWK,American Vodkas,SAZERAC NORTH AMERICA,1750.0,6.92,10.38,12.0,124.56,21.00,2018,131723,01
1,Sycamore Convenience,BLACK HAWK,Flavored Rum,PERNOD RICARD USA,1000.0,10.49,15.74,36.0,566.64,36.00,2018,131723,01
2,Hy-Vee Food and Drug,CLINTON,Canadian Whiskies,DIAGEO AMERICAS,375.0,8.00,12.00,10.0,120.00,3.75,2018,46437,01
3,Hometown Foods,TAMA,Canadian Whiskies,CONSTELLATION BRANDS INC,1750.0,10.45,15.68,12.0,188.16,21.00,2018,16869,01
4,Hy-Vee Food Store,BLACK HAWK,Imported Dry Gins,BACARDI USA INC,750.0,13.50,20.25,2.0,40.50,1.50,2018,131723,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,Hy-Vee Food Store,BLACK HAWK,AMERICAN AMARETTO,Luxco-St Louis,750.0,3.38,5.07,12.0,60.84,9.00,2014,133390,12
2999996,Price Chopper,DALLAS,BLENDED WHISKIES,Luxco-St Louis,1750.0,7.62,11.43,6.0,68.58,10.50,2015,80631,09
2999997,Dahl's,POLK,VODKA 80 PROOF,Luxco-St Louis,1750.0,7.13,10.70,6.0,64.20,10.50,2012,444671,08
2999998,Hawkeye Pantry,POLK,PUERTO RICO & VIRGIN ISLANDS RUM,"Bacardi U.S.A., Inc.",750.0,12.66,18.99,1.0,18.99,0.75,2012,444671,04
2999999,Urban Liquor,POLK,PUERTO RICO & VIRGIN ISLANDS RUM,Luxco-St Louis,750.0,3.85,5.77,6.0,34.62,4.50,2012,444671,05

In [10]:
print(len(alc_df['Category Name'].unique()))
print(len(alc_df['Vendor Name'].unique()))
print(len(alc_df['County'].unique()))
print(len(alc_df['Store Name'].unique()))

121
282
82
574

In [11]:
print(alc_df['Store Name'].unique())

['Hy-Vee Food Store' 'Sycamore Convenience' 'Hy-Vee Food and Drug'
 'Hometown Foods' 'Cork and Bottle' 'Bancroft Liquor Store'
 'Wine and Spirits Shoppe Of' 'Fareway Stores' 'West Side Liquor'
 'Food Land Super Markets' 'Wal-Mart' "Ray's Supermarket, Inc."
 "Casey's General Store" "Smokin' Joe's" "Bani's"
 'Freeman Foods of North English' 'Station Mart' 'Osco' 'Kwik Stop'
 'Prime Mart' "Happy's Wine & Spirits" 'Hy-Vee Drugstore'
 'Twin Town Liquor' 'Yesway Store' "218 Fuel Express & Chubby's Liquor"
 'Sac Liquor Store' 'Shade Tree Liquors' 'Five Corners Liquor & Wine'
 'Barnes Food Land' 'Hy-Vee Wine and Spirits' 'Walgreens' "Bender's Foods"
 'Brothers Market' "Cork 'N Bottle" 'Logan Convenience Store'
 'Barmuda Distribution' 'Econ-o-mart' "Randall's Stop N Shop"
 'CVS Pharmacy' "Gary's Liquor & Wine LTD" 'Osage Liquors' "Jim's Food"
 'Crossroads Wine & Spirits LLC' "Bucky's" 'B and B EAST' 'Hy-Vee'
 'THE PUMPER' "Ding's Honk'n Holler" 'Mos Mini Mart' 'B and B West'
 'Hillstreet News and Tobacco' 'Tipton Family Foods' 'B and C Liquor'
 'Flaming Hot Fish and Chicken LLC' 'Quality Quick Stop' "Roy's Foodland"
 'New Star' 'Xo Food And Liquor' "Sam's Club" 'Thriftway'
 'Liquor Beer & Tobacco Outlet' 'Osage Payless Foods'
 'Richmond & Ferry BP' "Ali's Liquor" 'Independence Liquor & Food'
 'Logan Super Foods' 'The Music Station' 'Grieder Beverage Depot'
 "Jumbo's" "Chuck's Sportsmans Beverage" 'DeWitt Travel Mart'
 'Private Cellar, Inc.' 'Bormanns Neighborhood Pitstop, LLC'
 'World Liquor & Tobacco + Vape' 'Shelby General Store'
 "Brother's Market Wine and Spirits" "Jeff's Market"
 'Wapello Jack and Jill' 'Neighborhood Mart' 'Lake View Redemption Center'
 'New York Dollar Store' 'Kum & Go' 'Karam Kaur Khasriya Llc' 'Schnucks'
 'Liquor and Tobacco Outlet' 'West Side Spirits' 'Hometown Foods- Conrad'
 'Freeman Foods' 'Oelwein Bottle and Can Inc.' 'ROCSTOP'
 'Audubon Food Land' 'Super Mart' 'Cornerstone Apothecary'
 "John's Qwik Stop" 'Kwik Stop Delhi' 'KUM & GO' 'Sac City Food Pride'
 'Williamsburg Foods' 'Keota Eagle Foods' 'Pronto Market' 'Great Wall'
 'Target Store T-1792' 'Iowa Liquor & Tobacco' "Brother's Market"
 'Super Stop and Shop' 'SNK Gas & Food LLC' 'Quik-Pik'
 'CLINTON LIQUOR & CONVENIENCE STORE' 'DIVA & TEJ GAS & FOOD'
 "Dewey's Jack and Jill" "Trunck's Country Foods, INC."
 'Sinclair Food Mart' 'Hop N Shop' 'Prime Star'
 'Loofts on 9 Liquor Here or Liquor There' 'Hometown Foods-Gladbrook'
 'Quillins Quality Foods West Union' 'Broadway Liquor'
 'Wheatland Day Break' 'Thunder Ridge Ampride' 'Circle K' 'Yesway'
 'Crossroads of Sac City' 'Crossroads of Algona' 'Oelwein Mart'
 'Chrome Truck Stop' '6 Corners Gas & Grub' 'Petromart Stanwood'
 'Fredericksburg Food Center' 'Metro Mart' 'The Hangout Liquors'
 'Pronto BP' 'Foodland Super Markets' 'Lonely Oak Distillery' 'BP'
 'Kimmes Wall Lake' 'Tri Stop' 'The Food Center' "Scotty's Liquor Store"
 "Terry's Food Center" 'Fine Liquor & Tobacco' 'Target Store T-2526'
 'Blairstown Quick Stop' 'White Oak Station' 'Double "D" Liquor Store'
 'ThuLords' 'Rush Stop' 'Pirillo Beverage' 'Depot Norway'
 'Southside Tobacco and Liquor' 'H and A Mini Mart Corp'
 'Okoboji Avenue Liquor' 'Sa Tobacco Liquor Mart' 'Hy-Vee Wine & Spirits'
 'Jim and Charlies Affiliated' 'The Snack Shack' 'U S Gas'
 'Siouxland Beverage' 'Sauce' 'Forbes Liquor Locker'
 'Iowa Street Market, Inc.' 'Lake Liquors Wine and Spirits'
 "Charlie's Wine and Spirits," "Cheese's Food Center" "C's Spencer Liquor"
 'Benz Distributing' 'Fast Mart' 'A-TOWN LIQUOR STORE' 'The Molehill'
 'Cresco Liquor Store' 'Bottle Boutique' 'New Star Liquor'
 "Newman's Thriftway" 'Liquor Store' "Dahl's" 'Best Food Mart'
 'Last Stop Beverage Shop' "Lil' Chubs Corner Stop" "Sid's Beverage Shop"
 'Oasis Grocery and Liquor' 'B P ON 1ST' "SHELTON'S"
 "Bootleggin' Barzini's Fin" 'Kimberly Mart' 'Hy-Vee DrugStore'
 'Wilkie Liquors' 'Good and Quick Co' 'Famous Liquors'
 'No Frills Supermarkets' 'Hy-vee' 'HY-VEE FOOD STORE'
 'Dugans Supermarket' 'Lickety Liquor' 'Costco Wholesale' 'Keokuk Spirits'
 "Sam's Mini Mart" 'Quick Shop' 'Smoke Shop, The' "Lena's Liquors"
 'Target Store T-1768' 'Quik Trip' 'Barnes Foodland'
 'Great Spirits Wine & Liquor Co.' 'Target Store T-2041' 'Cyclone Liquors'
 'Nat Food Mart' 'Affiliated Foods Of Manson' 'Last Call'
 'Target Store T-1771' 'Anamosa Family Foods' 'EZ Mart' 'Kwik Shop'
 'C B Liquor' 'Five Star Snacks and More' 'Hudson Gas Mart'
 'Five Corners Liquor and Win' 'FRANKLIN STREET FLORAL & GIFT'
 'Target Store T-1791' "Johncy's Liquor Store Inc" 'The Liquor Stop'
 "Gary's Foods" 'Hy-Vee Drugtown' 'Kwik Stop Liquor & Groceries Ames'
 'Point Liquor & Tobacco' 'Beecher Beverage' 'Circle B Market'
 'ATC Liquor' 'Spirits' 'Nash Finch' 'Super Stop Ii'
 'Keystone Liquor and Wine' 'Wild Rose Emmetsburg, Llc'
 'Circle S Gordon Drive' "Brewski's Beverage" 'The Secret Cellar'
 'Big Discount Liquor' 'Corridor Ventures' 'HY-VEE' 'Liquor Downtown'
 'STATION MART LIQUOR AND TOBACCO' 'Round Window Liquor' 'Jims Foods'
 'Main Street Liquors' 'Target Store T-1939' 'New Star Market'
 'Urban Liquor' 'H and A Mini Mart' 'North Scott Foods'
 'Hy-Vee Fort Dodge Wine and Spirits' 'Liquor On The Corner'
 'Hartig Drug Store' 'Pleasantville Grocery' 'Stewart Road Fast Break'
 'Central City' 'Tobacco Shop' "Ding's Honk And Holler"
 'Logan Ave Convenience Store' 'Pit Stop Liquors' 'Discount Liquor'
 'Hartley Wine And Spirits' "Sparky's One Stop"
 'Central City Liquor, Inc.' 'The Bottle Shop' 'Buy Rite Foods'
 'Jubilee Foods' 'Southside Liquor & Tobacco' 'Lansing IGA' 'Chariton BP'
 'Liquor And Tobacco Outlet' 'Target Store T-1901' "Scott's Foods"
 'M and M Liquor Store' "Harlan's Food Mart" 'J D Spirits Liquor'
 'I-80 Liquor' 'THE LIQUOR HOUSE' 'Ingersoll Liquor and Beverage'
 'Ingersoll Wine Merchants' 'Hard Rock Hotel & Casino Sioux City'
 'Target Store T-1800' 'Ameristar Casino' 'Family Pantry'
 'Belle Plaine Country Food' "Todd's" 'Great Pastimes' 'Swils'
 'Super Saver Iv' 'Circle S Bluff Stop' 'The Cooler'
 "Mcgregor's Top Shelf, Llc" 'Indy 66 West' 'Super Stop' 'Lot-A-Spirits'
 'Mmdg Spirits' "Sunny's Mart" 'Perfect Value Liquor Mart' 'The Pit Stop'
 'Liquor Tobacco & Groceries' 'Super Valu' 'EZ Stop' 'Cheap Smokes'
 'Puff N Snuff' 'Best Trip' 'Shop N Save' 'Jensen Liquor North'
 'Grundy Center Family Foods' 'Select Mart    Gordon Dr'
 'Uptown Liquor, Llc' 'Save More Foods' 'Buchanan County Liquor Store'
 'Celtics Beverage Company' 'Hometown Market' 'Avoca Liquor'
 'Quick Shop Foods' 'Hy-Vee Store' 'Price Chopper' 'Sa Petro Mart'
 'Wines and Spirits' 'Point Liquor and Tobacco' "Tequila's Liquor Store"
 'Southside Food Mart' "Karen's Spirits and Wine" 'Main Street Spirits'
 "Guppy's On The Go" "John's Grocery" "Cork 'n' Bottle" 'D And S Grocery'
 'Oky Doky' 'The Liquor Store' "Charley's Quik Shop" 'Audubon Food Pride'
 'World Liquor & Tobacco' 'Washington Street Mini Mart'
 'Clear Lake Payless Foods' 'Spirits & Such' 'Wilton Express'
 'Target Store T-1767' 'Williams Boulevard Service, Inc.' "Wj's Liquor"
 'I-35 Spirits' 'QUIK TRIP' 'Adventureland Inn' 'Broadbent Distillery'
 "Mccoy's" 'Uncorked Wine & Spirits' 'Sakar Liquor Store' 'J and K Market'
 "Slagle's Grocery" 'Fast Ave One Stop' 'Iowa Distilling Company'
 'Jensen Liquors, Ltd.' 'Cenex Gas Station' 'Pronto' "C's Liquor Store"
 "Mcelroy's Food Market" 'Fast Trip' "Kolby's Liquor Store"
 'Uptown Liquor and Tobacco' 'Sam Liquor' 'Uptown Liquor & Tobacco'
 'THE BOONEDOCKS' 'L and K Liquor' 'Jiffy Express' 'Palo Mini Mart'
 "Zapf's Pronto Market" 'Pit Stop Liquor and Tobacco' 'Larchwood Offsale'
 "DYNO'S" 'Kellogg Country Store' 'Stratford Food Center'
 'Target Store T-2454' 'CENTER POINT FOODS' 'Hartig Drug Co.'
 "Cubby's Red Oak" "Spencer's Grocery" 'Brady Mart Food & Liquor'
 'Quicker Liquor Store' 'Sperry One Stop Shop LLC' 'Expo Mart'
 'Guppys On The Go' 'Hartig Drug' 'Lake City Food Center' 'GS Super Stop'
 'Sioux Valley Spirits' 'Old Calliope Liquor' 'Tobacco Hut'
 "Bucky's Express" 'Ackley Super Foods' 'The Station' 'Save A Lot'
 'Hiway 20 Liquors' 'Fort Madison Fast Break' "Giri's Liquor Store"
 'Vom Fass' 'Super Quick' 'Hy-Vee Mainstreet' "A J'S LIQUOR II"
 "Sonny's Super Market" "MOORE'S FOODS" 'New Star Raymond' 'Spice-n-ice'
 'Super Target T-0533' 'The Liquor Cabinet, Inc.'
 "Shortee's Pit Stop, Inc." "Moore's Foods" 'Payless Foods'
 'Camanche Food Pride' 'Laurens Food Pride' "Jeff's Foods"
 "Schottsy's Liquor" 'Dayton Community Grocery' 'Brothers Market, Inc.'
 'New Star Mart (Amoco)' 'Almost Always Open' 'Quick Mart'
 "Karl's Grocery Store" 'Super Target T-0804 Mason City'
 'Independence Ave Liquor & Food' 'Ameristar Casino Council Bluffs Gift'
 'SELECT MART' 'Select Mart   Floyd Blvd' 'North Side Liquor & Grocery'
 'Hartig Drug Company' 'A To Z Liquor and Smoke Shop'
 'Terribles Lakeside Casino' 'DS Services LLC' 'CIRCLE K'
 'Liquor, Beer and Tobacco Outlet' 'City Liquor And Tobacco'
 'USA Food & Gas' "Shugar's Super Valu" "Clark's Food Mart"
 'Ram Liquor Mart' "SID'S GAS and GROCERIES" 'The Market Of Madrid'
 'Hill Brothers Jiffy Mart' 'Hawkeye Pantry' 'Hawkeye Convenience Stores'
 'Liquor Tobacco & Grocery' 'North English Family Food' "Dyno's"
 'Target Store T-0069' 'Riverside Casino And Resort'
 'Mississippi River Distillery' "Sam's Mainstreet Market"
 'Nodaway Valley Market' 'Central Mart' 'After 5 Somewhere'
 'Sub Xpress & Gas' 'Downtown Pantry' '3rd St Convenience' 'FILL R UP'
 'Loofts on 9 Liquor Here or Liquor Th' 'Fast Mart 2, LLC'
 'Korthouse Liquor' 'Barrys Mini Mart' 'Station Wine and Spirits, T'
 'Sahota Food Mart' 'Target Store T-1113' 'Quillins Quality Foods Monona'
 'New Pioneer Food Co-op' "Laddy's Bar And Grill"
 "Dyno's Wine and Spirits" 'Bender Foods' 'Graettinger Market'
 'Market Express' 'South Side Grocery' "Abby Lea's"
 'Forest Market Convenience' 'Super Stop  SE 14th' 'Jamboree Foods'
 'Elma Locker and Grocery' 'New York Dollar Stores' 'T-N-T Liquor' 'CVS'
 'Mandm Pantry' 'Strawberry Foods and Deli' 'Main Street Market Of Anita'
 'Target Store T-1170' 'Fastmart' 'Cambridge Country Store'
 'Carterlake Mini Mart' 'Pump N Pak Rock Valley' 'Eagle Country Market'
 'Jesup Food Center' 'Site Food Mart' 'Shamrock Spirits' 'Oasis'
 'Emmetsburg Food Pride' 'Otho Convenience and Food' 'The Fresh Market'
 'Harolds Jack N Jill' 'The Cue Liquors' "R 'n D's Liquor, Llc"
 "Lindsanator's" 'Hartig Drug Co' "Elliott's General Store," 'NEW STAR'
 'Lake View Foods' 'The Filling Station' 'Car-Go-Express'
 'Muscatine Fast Break' 'Kwik Stop C-Stores' 'Rina Mart LLC'
 "Barb's Service" 'Lake Ohana Market' 'K & L Foods'
 'Kroegers Liquor Co LLC' "Guppy's On The Go Swisher"
 'Five Star Snacks and Liquor' 'Fairbank Food Center' 'Super Stop II'
 'Spirits and Such' 'East Village Pantry' "Ryan's Quick Shop" 'Fasttrak'
 'Kwik Stop Food Mart' 'Helle Hometown Variety' "Crazy Mary's Licker"
 'CB Quick Stop' 'The Store' 'Riverside Quick Shop' 'Central Mart I, LLC.'
 'Cenex Ampride' 'Newport Bp' 'Primghar Liquor Store'
 'Main St. Market, Inc.' 'Rolfe Area Market' 'Byron Supermarket, Inc.'
 'CGI Foods' 'Ruthven Meat Processing' 'Marshall Discount Liquor'
 'City Foods' 'Slagle Foods LeClaire' 'Speedy Gas N Shop' 'A. V. Liquor'
 'Mart Stop' 'Target Store T-0878' 'Villisca Foods Inc.'
 'Railroad Street Tobacco and Spirits' "AJ's Liquor III" 'Keywest Conoco'
 'Larchwood Quick Stop' "Guppy's On the Go" 'C Fresh Market'
 'Iowa City Fast Break' 'Byron Supermarket' 'L & M Gas & Grocery'
 'Target Store T-0086' 'Shop n Save' "Mj's Grocery"
 'Cedar Ridge Vineyards' 'Kimmes Wall Lake Country Store'
 'HOME TOWN FOOD ON' 'SPEEDE SHOP' 'West K Mart'
 "Katy Did's General Store" 'Hawkeye Convenience Store Wiley Blvd'
 'Afal Food & Liquor' 'L&M Mighty Shop' 'Smoke.N.Pipe' 'Cork & Bottle'
 "Cubby's Sioux City" 'Cozy Mart' 'Council Bluffs Sinclair'
 'USA Food and Gas' 'Direct Liquor' 'Ismoke' 'Liquorama' 'Sierra Foods'
 'D & B Foods' 'JCL Store' 'Honey Creek Resort State Park'
 'Iowa Legendary Rye']

In [12]:
grouped_df = pd.get_dummies(alc_df, columns=['Store Name', 'Category Name', 'Vendor Name']).groupby(['Year', 'Month', 'County', 'Population']).sum().reset_index()
grouped_df

,Year,Month,County,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),...,Vendor Name_Willett Distillery,Vendor Name_William Grant & Sons Inc,Vendor Name_Wilson Daniels Ltd.,Vendor Name_Windy Hill Spirits,Vendor Name_Wine Intelligence,"Vendor Name_Winebow, Inc.",Vendor Name_Woody Creek Distillers,"Vendor Name_Worldwide Libations, LLC","Vendor Name_Yahara Bay Distillers, Inc","Vendor Name_maDIKwe USA, Inc."
0,2012,01,ADAIR,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2012,01,ADAMS,3910,169625.0,1442.50,2167.75,663.0,8324.00,679.29,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2012,01,APPANOOSE,12707,560600.0,5006.52,7519.13,3444.0,38126.52,3313.58,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012,01,BLACK HAWK,131878,5792301.0,55625.12,83562.91,78066.0,840546.05,62102.69,...,0.0,0.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012,01,BOONE,26136,772075.0,7121.36,10703.28,6996.0,89316.77,7547.14,...,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,2018,07,SAC,9705,796575.0,7966.11,11950.84,4442.0,57666.55,4560.32,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1714,2018,07,SHELBY,11559,495340.0,5201.75,7803.59,8255.0,112914.97,9695.68,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1715,2018,07,TAMA,16869,563450.0,5505.30,8259.28,4982.0,59054.34,4079.96,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1716,2018,07,WAPELLO,34991,1178175.0,12511.30,18770.10,14285.0,159823.19,11378.31,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1717,2018,07,WORTH,7413,244975.0,2322.54,3484.27,1787.0,20584.23,1601.05,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
grouped_df = pd.get_dummies(grouped_df)
grouped_df

,Year,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name_218 Fuel Express & Chubby's Liquor,Store Name_3rd St Convenience,...,County_TAYLOR,County_UNION,County_VAN BUREN,County_WAPELLO,County_WARREN,County_WASHINGTON,County_WEBSTER,County_WINNEBAGO,County_WOODBURY,County_WORTH
0,2012,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2012,3910,169625.0,1442.50,2167.75,663.0,8324.00,679.29,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2012,12707,560600.0,5006.52,7519.13,3444.0,38126.52,3313.58,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2012,131878,5792301.0,55625.12,83562.91,78066.0,840546.05,62102.69,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2012,26136,772075.0,7121.36,10703.28,6996.0,89316.77,7547.14,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,2018,9705,796575.0,7966.11,11950.84,4442.0,57666.55,4560.32,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1714,2018,11559,495340.0,5201.75,7803.59,8255.0,112914.97,9695.68,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1715,2018,16869,563450.0,5505.30,8259.28,4982.0,59054.34,4079.96,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1716,2018,34991,1178175.0,12511.30,18770.10,14285.0,159823.19,11378.31,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
1717,2018,7413,244975.0,2322.54,3484.27,1787.0,20584.23,1601.05,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
grouped_df['State Profit per capita'] = (grouped_df['State Bottle Retail'] - grouped_df['State Bottle Cost'])/grouped_df['Population']
grouped_df['Liters Sold per capita'] = grouped_df['Volume Sold (Liters)'] / grouped_df['Population']
grouped_df['Sales per capita (Dollars)'] = grouped_df['Sale (Dollars)'] / grouped_df['Population']
grouped_df['Bottles Sold per capita'] = grouped_df['Bottles Sold'] / grouped_df['Population']
#grouped_df.drop(columns=['State Bottle Retail', 'Volume Sold (Liters)', 'Sale (Dollars)', 'Bottles Sold'], inplace=True)
grouped_df

,Year,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name_218 Fuel Express & Chubby's Liquor,Store Name_3rd St Convenience,...,County_WARREN,County_WASHINGTON,County_WEBSTER,County_WINNEBAGO,County_WOODBURY,County_WORTH,State Profit per capita,Liters Sold per capita,Sales per capita (Dollars),Bottles Sold per capita
0,2012,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,0.0,0.0,...,0,0,0,0,0,0,0.166742,0.282397,3.261373,0.297134
1,2012,3910,169625.0,1442.50,2167.75,663.0,8324.00,679.29,0.0,0.0,...,0,0,0,0,0,0,0.185486,0.173731,2.128900,0.169565
2,2012,12707,560600.0,5006.52,7519.13,3444.0,38126.52,3313.58,0.0,0.0,...,0,0,0,0,0,0,0.197734,0.260768,3.000434,0.271032
3,2012,131878,5792301.0,55625.12,83562.91,78066.0,840546.05,62102.69,0.0,0.0,...,0,0,0,0,0,0,0.211846,0.470910,6.373664,0.591956
4,2012,26136,772075.0,7121.36,10703.28,6996.0,89316.77,7547.14,0.0,0.0,...,0,0,0,0,0,0,0.137049,0.288764,3.417385,0.267677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,2018,9705,796575.0,7966.11,11950.84,4442.0,57666.55,4560.32,0.0,0.0,...,0,0,0,0,0,0,0.410585,0.469894,5.941942,0.457702
1714,2018,11559,495340.0,5201.75,7803.59,8255.0,112914.97,9695.68,0.0,0.0,...,0,0,0,0,0,0,0.225092,0.838799,9.768576,0.714162
1715,2018,16869,563450.0,5505.30,8259.28,4982.0,59054.34,4079.96,0.0,0.0,...,0,0,0,0,0,0,0.163257,0.241861,3.500761,0.295335
1716,2018,34991,1178175.0,12511.30,18770.10,14285.0,159823.19,11378.31,0.0,0.0,...,0,0,0,0,0,0,0.178869,0.325178,4.567551,0.408248
1717,2018,7413,244975.0,2322.54,3484.27,1787.0,20584.23,1601.05,0.0,0.0,...,0,0,0,0,0,1,0.156715,0.215979,2.776775,0.241063

In [15]:
def coef_mat(X, Y):
    xtx = np.linalg.inv(X.T.dot(X))
    beta_hat = xtx.dot(X.T.dot(Y))
    return beta_hat

def ridge_betas(X, Y, L):
    xtx = np.linalg.inv(X.T.dot(X) + np.identity(X.shape[1])*L)
    beta_hat = xtx.dot(X.T.dot(Y))
    return beta_hat

def ols_regression(X, Y):
    beta_hat = coef_mat(X, Y)
    return X.dot(beta_hat)

def ridge_regression(X, Y, L, beta_hat):
    return X.dot(beta_hat)

def lse(Y, y_hat):
    return (Y - y_hat).T.dot(Y - y_hat)

In [16]:
# Bottles Sold per capita
scaler = StandardScaler()

Y = grouped_df['Bottles Sold per capita']
bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Bottles Sold'])
bottles_columns = pd.Series(bottles_sold_df.columns)
bottles_sold_df = scaler.fit_transform(bottles_sold_df)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(bottles_sold_df, Y, test_size=0.2, random_state = 42)

In [22]:
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([bottles_columns, pd.Series(betas1)], axis=1)
new_df.sort_values(by=1, ascending=False)
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = lse(y_train, y_hat)
err

89.6001185171717

In [24]:
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = lse(y_test, y_hat)
#print(y_test, y_hat)
err

2534.2883527566196

In [29]:
# Sales volume per capita
Y = grouped_df['Sales per capita (Dollars)']
sales_volume_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Sale (Dollars)'])
sales_volume_columns = pd.Series(sales_volume_df.columns)
sales_volume_df = scaler.fit_transform(sales_volume_df)
X_train, X_test, y_train, y_test = train_test_split(sales_volume_df, Y, test_size=0.2, random_state = 10)

# training set
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([sales_volume_columns, pd.Series(betas1)], axis=1)
new_df.sort_values(by=1, ascending=False)

                                              0         1
173        Store Name_Forest Market Convenience  0.852487
185  Store Name_Great Spirits Wine & Liquor Co.  0.601096
982      Vendor Name_Yahara Bay Distillers, Inc  0.570821
557                         Store Name_Vom Fass  0.569704
489                    Store Name_Super Stop II  0.495721
..                                          ...       ...
937      Vendor Name_Square One Organic Spirits -1.164295
180         Store Name_Gary's Liquor & Wine LTD -1.369257
775              Vendor Name_Dreyfus, Ashby Co. -1.498843
964                 Vendor Name_Vital Beverages -1.498843
714        Vendor Name_Artisan Grain Distillery -1.836235

[1078 rows x 2 columns]

In [30]:
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = lse(y_train, y_hat)
err

15539.558369851757

In [31]:
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = lse(y_test, y_hat)
err

227108.60509281806

In [16]:
# Volume of sold alcohol per capita
Y = grouped_df['Liters Sold per capita']
volume_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Volume Sold (Liters)'])
volume_columns = pd.Series(volume_df.columns)
volume_df = scaler.fit_transform(volume_df)
X_train, X_test, y_train, y_test = train_test_split(volume_df, Y, test_size=0.2, random_state = 10)

# training set
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([volume_columns, pd.Series(betas1)], axis=1)
new_df.sort_values(by=1, ascending=False)
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = lse(y_train, y_hat)
err

12.5160858581053

In [17]:
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = lse(y_test, y_hat)
err

148.09384615426637

In [18]:
# State Profit per capita
Y = grouped_df['Sales per capita (Dollars)']
state_profit_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'State Bottle Retail', 'State Bottle Cost'])
profit_columns = pd.Series(state_profit_df.columns)
state_profit_df = scaler.fit_transform(state_profit_df)
X_train, X_test, y_train, y_test = train_test_split(state_profit_df, Y, test_size=0.2, random_state = 10)

# training set
L = 100
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([profit_columns, pd.Series(betas1)], axis=1)
new_df.sort_values(by=1, ascending=False)
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = lse(y_train, y_hat)
err

2164.2474150800867

In [19]:
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = lse(y_test, y_hat)
err

25684.914298868476