In [50]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [51]:
def get_month(string):
    return string.split("/")[0]

alc_df = pd.read_csv('alc_dataset.csv', nrows=3000000)
#alc_df = pd.read_csv('alc_dataset.csv')
alc_df["Month"] = alc_df["Date"].apply(get_month)
alc_df.drop(columns = ["Year", "Date", "Unnamed: 0"], inplace = True)
#alc_df = pd.get_dummies(alc_df)
alc_df
#alc_df.groupby(["Year", "Month", "County"]).sum()

,Store Name,County,Category Name,Vendor Name,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Population,Month
0,Hy-Vee Food Store,BLACK HAWK,American Vodkas,SAZERAC NORTH AMERICA,1750.0,6.92,10.38,12.0,124.56,21.00,131723,01
1,Sycamore Convenience,BLACK HAWK,Flavored Rum,PERNOD RICARD USA,1000.0,10.49,15.74,36.0,566.64,36.00,131723,01
2,Hy-Vee Food and Drug,CLINTON,Canadian Whiskies,DIAGEO AMERICAS,375.0,8.00,12.00,10.0,120.00,3.75,46437,01
3,Hometown Foods,TAMA,Canadian Whiskies,CONSTELLATION BRANDS INC,1750.0,10.45,15.68,12.0,188.16,21.00,16869,01
4,Hy-Vee Food Store,BLACK HAWK,Imported Dry Gins,BACARDI USA INC,750.0,13.50,20.25,2.0,40.50,1.50,131723,01
...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,Hy-Vee Food Store,BLACK HAWK,AMERICAN AMARETTO,Luxco-St Louis,750.0,3.38,5.07,12.0,60.84,9.00,133390,12
2999996,Price Chopper,DALLAS,BLENDED WHISKIES,Luxco-St Louis,1750.0,7.62,11.43,6.0,68.58,10.50,80631,09
2999997,Dahl's,POLK,VODKA 80 PROOF,Luxco-St Louis,1750.0,7.13,10.70,6.0,64.20,10.50,444671,08
2999998,Hawkeye Pantry,POLK,PUERTO RICO & VIRGIN ISLANDS RUM,"Bacardi U.S.A., Inc.",750.0,12.66,18.99,1.0,18.99,0.75,444671,04
2999999,Urban Liquor,POLK,PUERTO RICO & VIRGIN ISLANDS RUM,Luxco-St Louis,750.0,3.85,5.77,6.0,34.62,4.50,444671,05

In [52]:
grouped_df = pd.get_dummies(alc_df, columns=['Store Name', 'Category Name', 'Vendor Name']).groupby(['Month', 'County', 'Population']).sum().reset_index()

#grouped_df = alc_df.groupby(['Month', 'County', 'Population']).sum().reset_index()

grouped_df = pd.get_dummies(grouped_df, columns=['Month', 'County'])
grouped_df

,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name_218 Fuel Express & Chubby's Liquor,Store Name_3rd St Convenience,Store Name_6 Corners Gas & Grub,...,County_TAYLOR,County_UNION,County_VAN BUREN,County_WAPELLO,County_WARREN,County_WASHINGTON,County_WEBSTER,County_WINNEBAGO,County_WOODBURY,County_WORTH
0,7074,124825.0,1213.33,1820.26,1026.0,12587.89,951.40,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,7387,272925.0,2322.59,3487.81,2316.0,27235.71,2206.62,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,3644,3500.0,21.70,32.55,8.0,107.32,14.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,3754,90075.0,866.52,1300.94,484.0,4903.92,387.08,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,37069,2401550.0,25417.21,38220.96,25209.0,328422.61,22498.96,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1714,10430,759575.0,7281.38,10963.80,5138.0,67792.33,5369.12,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,0
1715,102284,5778550.0,63178.49,95031.68,66316.0,864005.66,57901.56,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1716,102321,5297225.0,56387.49,84921.64,68284.0,905288.89,61588.14,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1717,7557,334300.0,3281.56,4933.01,1997.0,27022.17,2106.17,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [53]:
grouped_df['State Profit per capita'] = (grouped_df['State Bottle Retail'] - grouped_df['State Bottle Cost'])/grouped_df['Population']
grouped_df['Liters Sold per capita'] = grouped_df['Volume Sold (Liters)'] / grouped_df['Population']
grouped_df['Sales per capita (Dollars)'] = grouped_df['Sale (Dollars)'] / grouped_df['Population']
grouped_df['Bottles Sold per capita'] = grouped_df['Bottles Sold'] / grouped_df['Population']
# grouped_df.drop(columns=['State Bottle Retail', 'Volume Sold (Liters)', 'Sale (Dollars)', 'Bottles Sold', 'Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail'], inplace=True)
grouped_df

,Population,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Store Name_218 Fuel Express & Chubby's Liquor,Store Name_3rd St Convenience,Store Name_6 Corners Gas & Grub,...,County_WARREN,County_WASHINGTON,County_WEBSTER,County_WINNEBAGO,County_WOODBURY,County_WORTH,State Profit per capita,Liters Sold per capita,Sales per capita (Dollars),Bottles Sold per capita
0,7074,124825.0,1213.33,1820.26,1026.0,12587.89,951.40,0.0,0.0,0.0,...,0,0,0,0,0,0,0.085797,0.134493,1.779459,0.145038
1,7387,272925.0,2322.59,3487.81,2316.0,27235.71,2206.62,0.0,0.0,0.0,...,0,0,0,0,0,0,0.157739,0.298717,3.686978,0.313524
2,7468,309625.0,2476.33,3721.56,2219.0,24355.93,2108.94,0.0,0.0,0.0,...,0,0,0,0,0,0,0.166742,0.282397,3.261373,0.297134
3,3644,3500.0,21.70,32.55,8.0,107.32,14.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0.002977,0.003842,0.029451,0.002195
4,3754,90075.0,866.52,1300.94,484.0,4903.92,387.08,0.0,0.0,0.0,...,0,0,0,0,0,0,0.115722,0.103111,1.306319,0.128929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,37069,2401550.0,25417.21,38220.96,25209.0,328422.61,22498.96,0.0,0.0,0.0,...,0,0,1,0,0,0,0.345403,0.606948,8.859764,0.680056
1714,10430,759575.0,7281.38,10963.80,5138.0,67792.33,5369.12,0.0,0.0,0.0,...,0,0,0,1,0,0,0.353060,0.514777,6.499744,0.492617
1715,102284,5778550.0,63178.49,95031.68,66316.0,864005.66,57901.56,0.0,0.0,0.0,...,0,0,0,0,1,0,0.311419,0.566086,8.447124,0.648352
1716,102321,5297225.0,56387.49,84921.64,68284.0,905288.89,61588.14,0.0,0.0,0.0,...,0,0,0,0,1,0,0.278869,0.601911,8.847538,0.667351
1717,7557,334300.0,3281.56,4933.01,1997.0,27022.17,2106.17,0.0,0.0,0.0,...,0,0,0,0,0,1,0.218532,0.278705,3.575780,0.264258

In [96]:
def coef_mat(X, Y):
    xtx = np.linalg.inv(np.matmul(X.T, X))
    print(np.matmul(X.T, X).shape)
    print(np.matmul(X.T, X))
    beta_hat = xtx * (X.transpose() * Y.transpose())
    print(beta_hat)
    return beta_hat

def ridge_betas(X, Y, L):
    xtx = np.linalg.inv(X.T.dot(X) + np.identity(X.shape[1])*L)
    beta_hat = xtx.dot(X.T.dot(Y))
    return beta_hat

def ols_regression(X, Y):
    beta_hat = coef_mat(X, Y)
    return X * beta_hat

def ridge_regression(X, Y, L, beta_hat):
    return X.dot(beta_hat)

def lse(Y, y_hat):
    return (Y - y_hat).T.dot(Y - y_hat)

def rss(Y, y_hat):
    return str(np.sum(
        np.square(Y - y_hat)
    ))

def average_pct_err(Y, y_hat):
    return np.mean((abs(Y-y_hat))/Y)

In [148]:
# Bottles Sold per capita
scaler = StandardScaler()

Y = grouped_df['Bottles Sold per capita']
# bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita'])

bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Bottles Sold'])
#bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Bottles Sold'])
bottles_columns = pd.Series(bottles_sold_df.columns)
#bottles_sold_df = scaler.fit_transform(bottles_sold_df)
normalize = ['Population', 'Bottle Volume (ml)', 'State Bottle Cost', 'Sale (Dollars)', 'Volume Sold (Liters)']
bottles_sold_df[normalize] = StandardScaler().fit_transform(bottles_sold_df[normalize])
#print(bottles_sold_df)
X_train, X_test, y_train, y_test = train_test_split(bottles_sold_df, Y, test_size=0.2, random_state = 42)
# X_train = np.matrix(X_train)
# print("X TRIANING: ", X_train)
# X_test = np.matrix(X_test)
# y_train = np.matrix(y_train)
# y_test = np.matrix(y_test)

# Training Set
L = 10000
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([bottles_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
#y_hat = ols_regression(X_train, y_train)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
#L = 2000
y_hat = ridge_regression(X_test, y_test, L, betas1)
#y_hat = ols_regression(X_test, y_test)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                                                0         1
623  Category Name_DECANTERS & SPECIALTY PACKAGES  0.001698
517          Store Name_Terribles Lakeside Casino  0.001496
73                           Store Name_CGI Foods  0.001363
359              Store Name_Nodaway Valley Market  0.001360
617               Category Name_Canadian Whiskies  0.001321
..                                            ...       ...
476                       Store Name_Station Mart -0.001109
64                      Store Name_Buy Rite Foods -0.001152
529               Store Name_The Market Of Madrid -0.001162
432                         Store Name_Sam Liquor -0.001206
104                  Store Name_Clark's Food Mart -0.001240

[1077 rows x 2 columns]
TRAINING ERROR:  0.09214255135740795
TESTING ERROR:  0.12108560079137032

In [149]:
# Sales volume per capita
scaler = StandardScaler()

Y = grouped_df['Sales per capita (Dollars)']
# bottles_sold_df = grouped_df.drop(columns=['Bottles Sold per capita'])

sales_volume_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Sale (Dollars)'])
sales_volume_columns = pd.Series(sales_volume_df.columns)
normalize = ['Population', 'Bottle Volume (ml)', 'State Bottle Cost', 'Bottles Sold', 'Volume Sold (Liters)']
sales_volume_df[normalize] = StandardScaler().fit_transform(sales_volume_df[normalize])
X_train, X_test, y_train, y_test = train_test_split(sales_volume_df, Y, test_size=0.2, random_state = 42)

# Training Set
L = 10000
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([sales_volume_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                                                0         1
623  Category Name_DECANTERS & SPECIALTY PACKAGES  0.027560
517          Store Name_Terribles Lakeside Casino  0.020215
73                           Store Name_CGI Foods  0.019297
617               Category Name_Canadian Whiskies  0.016636
184    Store Name_Great Spirits Wine & Liquor Co.  0.016623
..                                            ...       ...
205                  Store Name_Hartig Drug Store -0.015663
64                      Store Name_Buy Rite Foods -0.016277
529               Store Name_The Market Of Madrid -0.016323
432                         Store Name_Sam Liquor -0.016464
104                  Store Name_Clark's Food Mart -0.019062

[1077 rows x 2 columns]
TRAINING ERROR:  0.09934359605258937
TESTING ERROR:  0.1330329387822082

In [150]:
# Volume of sold alcohol per capita
scaler = StandardScaler()

Y = grouped_df['Liters Sold per capita']

volume_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'Volume Sold (Liters)'])
#print(volume_df)
volume_columns = pd.Series(volume_df.columns)
normalize = ['Population', 'Bottle Volume (ml)', 'State Bottle Cost', 'Bottles Sold', 'State Bottle Retail', 'Sale (Dollars)']
volume_df[normalize] = StandardScaler().fit_transform(volume_df[normalize])
X_train, X_test, y_train, y_test = train_test_split(volume_df, Y, test_size=0.2, random_state = 42)

# Training Set
L = 10000
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([volume_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                                                0         1
623  Category Name_DECANTERS & SPECIALTY PACKAGES  0.002081
517          Store Name_Terribles Lakeside Casino  0.001664
73                           Store Name_CGI Foods  0.001510
617               Category Name_Canadian Whiskies  0.001452
184    Store Name_Great Spirits Wine & Liquor Co.  0.001251
..                                            ...       ...
64                      Store Name_Buy Rite Foods -0.001065
205                  Store Name_Hartig Drug Store -0.001147
432                         Store Name_Sam Liquor -0.001163
529               Store Name_The Market Of Madrid -0.001318
104                  Store Name_Clark's Food Mart -0.001420

[1077 rows x 2 columns]
TRAINING ERROR:  0.10158120559305119
TESTING ERROR:  0.1390386680372062

In [151]:
# State Profit per capita
scaler = StandardScaler()

Y = grouped_df['Sales per capita (Dollars)']
state_profit_df = grouped_df.drop(columns=['Bottles Sold per capita', 'Sales per capita (Dollars)', 'Liters Sold per capita', 'State Profit per capita', 'State Bottle Retail', 'State Bottle Cost'])
#print(state_profit_df)
profit_columns = pd.Series(state_profit_df.columns)
normalize = ['Population', 'Bottle Volume (ml)', 'Bottles Sold', 'Volume Sold (Liters)', 'Sale (Dollars)']
state_profit_df[normalize] = StandardScaler().fit_transform(state_profit_df[normalize])
X_train, X_test, y_train, y_test = train_test_split(state_profit_df, Y, test_size=0.2, random_state = 10)

# Training Set
L = 10000
betas1 = ridge_betas(X_train, y_train, L)

new_df = pd.concat([profit_columns, pd.Series(betas1)], axis=1)
print(new_df.sort_values(by=1, ascending=False))
y_hat = ridge_regression(X_train, y_train, L, betas1)
err = average_pct_err(y_train, y_hat)
print("TRAINING ERROR: ", err)

# Testing Set
L = 100
y_hat = ridge_regression(X_test, y_test, L, betas1)
err = average_pct_err(y_test, y_hat)
#print(y_test, y_hat)
print("TESTING ERROR: ", err)

                                                0         1
622  Category Name_DECANTERS & SPECIALTY PACKAGES  0.030863
183    Store Name_Great Spirits Wine & Liquor Co.  0.019487
72                           Store Name_CGI Foods  0.019443
516          Store Name_Terribles Lakeside Casino  0.019367
616               Category Name_Canadian Whiskies  0.018408
..                                            ...       ...
431                         Store Name_Sam Liquor -0.014511
528               Store Name_The Market Of Madrid -0.014873
204                  Store Name_Hartig Drug Store -0.016530
465         Store Name_Southside Liquor & Tobacco -0.017448
103                  Store Name_Clark's Food Mart -0.017727

[1076 rows x 2 columns]
TRAINING ERROR:  0.0984389996004031
TESTING ERROR:  0.13519827123601522