In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
url = "../../../datasets/Iowa_Liquor_Sales.csv"
alc_df = pd.read_csv(url, nrows=10000)
print("test")
print(alc_df.head(1))

test
  Invoice/Item Number        Date  Store Number  \
0     INV-09962700007  01/23/2018          4310

                       Store Name            Address      City  Zip Code  \
0  Fareway Stores #502 / Cherokee  205 West Bluff St  Cherokee   51012.0

                Store Location  County Number    County  ...  Item Number  \
0  POINT (-95.551866 42.75508)           18.0  CHEROKEE  ...        14192

            Item Description  Pack Bottle Volume (ml)  State Bottle Cost  \
0  Pendleton Canadian Whisky    12                750               13.1

  State Bottle Retail  Bottles Sold  Sale (Dollars)  Volume Sold (Liters)  \
0               19.65             3           58.95                  2.25

   Volume Sold (Gallons)
0                   0.59

[1 rows x 24 columns]

In [11]:
print(alc_df["Date"].unique())

['01/23/2018' '01/25/2018' '01/22/2018' '01/24/2018' '01/19/2018'
 '01/26/2018' '01/31/2018' '01/30/2018' '01/29/2018' '02/01/2018'
 '02/06/2018' '02/02/2018' '02/07/2018' '02/09/2018' '02/05/2018'
 '02/13/2018']

In [17]:
def return_name(string):
  return " ".join(string.split(" ")[:-1])

pop_df= pd.read_csv("https://data.iowa.gov/resource/qtnr-zsrc.csv")
pop_df["county"] = pop_df["geographicname"].apply(return_name).str.upper()
print(pop_df.head(1))

    fips geographicname                     year  population  \
0  19169   Story County  2011-07-01T00:00:00.000       91136

                    primary_point county
0  POINT (-93.4650448 42.0362415)  STORY

In [63]:
def return_year(string):
  return string.split("-")[0]

def return_year_slash(string):
  return string.split("/")[2]

pop_df["Year"] = pop_df["year"].apply(return_year)
pop_df.columns

Index(['county', 'population', 'year', 'Year'], dtype='object')

In [64]:
alc_df["Year"] = alc_df["Date"].apply(return_year_slash)
alc_df["County"] = alc_df["County"].str.upper()
pop_df.columns

Index(['county', 'population', 'year', 'Year'], dtype='object')

In [65]:

alc_df["County"].unique()
pop_df.columns

Index(['county', 'population', 'year', 'Year'], dtype='object')

In [66]:
pop_df["county"].unique()
pop_df.columns

Index(['county', 'population', 'year', 'Year'], dtype='object')

In [67]:
df = pd.read_html("https://www.iowa-demographics.com/counties_by_population")[0]
df["year"] = "2021"
df["county"] = df["County"].apply(return_name).str.upper()
df["population"] = df["Population"]
df = df[["county", "population", "year"]]
print(pop_df.columns)
df

Index(['county', 'population', 'year', 'Year'], dtype='object')

,county,population,year
0,POLK,496844,2021
1,LINN,228939,2021
2,SCOTT,174170,2021
3,JOHNSON,154748,2021
4,BLACK HAWK,130368,2021
...,...,...,...
95,TAYLOR,5868,2021
96,AUDUBON,5635,2021
97,RINGGOLD,4639,2021
98,ADAMS,3641,2021
99,UNITED STATES CENSUS BUREAU. B01001 SEX BY AGE...,United States Census Bureau. B01001 SEX BY AGE...,2021

In [60]:
pop_df = pop_df[["county", "population", "Year"]]
pop_df = pd.concat([pop_df, df])
print(pop_df["Year"].unique())

KeyError: 'Year'

In [47]:
print(alc_df.columns)
print(pop_df.columns)

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)',
       'Year'],
      dtype='object')
Index(['county', 'population', 'year'], dtype='object')

In [48]:
print(alc_df.head(1))
print(pop_df.head(1))

  Invoice/Item Number        Date  Store Number  \
0     INV-09962700007  01/23/2018          4310

                       Store Name            Address      City  Zip Code  \
0  Fareway Stores #502 / Cherokee  205 West Bluff St  Cherokee   51012.0

                Store Location  County Number    County  ...  \
0  POINT (-95.551866 42.75508)           18.0  CHEROKEE  ...

            Item Description Pack  Bottle Volume (ml) State Bottle Cost  \
0  Pendleton Canadian Whisky   12                 750              13.1

   State Bottle Retail Bottles Sold  Sale (Dollars)  Volume Sold (Liters)  \
0                19.65            3           58.95                  2.25

   Volume Sold (Gallons)  Year
0                   0.59  2018

[1 rows x 25 columns]
  county population                     year
0  STORY      91136  2011-07-01T00:00:00.000

In [49]:
combined = alc_df.merge(pop_df, how = "left")
combined[combined["year"].equals(combined["Year"])]

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)',
       'Year'],
      dtype='object')